.filterDiv {
  float: left;
  /*
  background-color: #2196F3;
  color: #ffffff;

  width: 100px;

  line-height: 100px;
  text-align: center;
  */
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}


.btn.active {
  background-color: #666;
  color: white;
}

/*
for the paragraphs


*/






.article {
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}


.p {
	color:#D24655;
	text-decoration:none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.a:hover, .a:focus { /* when you declare a hover state, make sure you declare a focus state as well */
	color: #000;
}


h1 {
	font-size: 50px;
 	margin: 0;
	color: #000;
	font-weight: normal;
	line-height: 1;
}

h2 {
	font-size: 24px;
	letter-spacing:2px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 24px;
	line-height: 1;
}


h3 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 24px;
	line-height: 1;
}

p {
	font-family: 'Vollkorn', serif;
	margin-bottom: 24px;
}





/*-------------------------------------------

    	General
-------------------------------------------*/

.page-wrap {
	max-width:960px;
	padding: 0 20px;
	margin:0 auto; /* center the content by defining a width and using this margin value */
}

.module-block {
	background-color: #fff;
	margin:0 0 70px 0;
	padding: 40px;
	-webkit-box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
	-moz-box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
	box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
	border: 1px solid rgba(0, 0, 0, .1);
}

.module-block h2 {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dashed rgba(0,0,0,.3);
}
